.search {
    background-color: #fff;
    padding: 2rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1.5rem;
}

.search h2 {
    color: #000a3b;
}

.search p {
    color: #000a3b;
}

.search_container {
    display: flex;
    gap: 0.5rem;
}

.search_container input,
.search_container button
{
    padding: .6rem;
    border-radius: 3px;
    border: none;
    color: #000a3b;
}

.search_container button {
    background-color: #ffa600;
    cursor: pointer;
}